php_flag display_errors off
Options -Indexes
AddCharset utf-8 .php .html .css .js .xml .json . rss .atom


<IfModule mod_headers.c>
    # Configurar X-Frame-Options para DENY o SAMEORIGIN
    Header always set X-Frame-Options "SAMEORIGIN"

    # Configurar X-Content-Type-Options para nosniff
    Header always set X-Content-Type-Options "nosniff"

    # Configurar Referer-Policy para strict-origin-when-cross-origin
    Header always set Referrer-Policy "strict-origin-when-cross-origin"

    Header set Content-Security-Policy "default-src 'self';"

    <Files "robots.txt">
        Header set Content-Security-Policy "default-src 'self';"
     </Files>
    <Files "sitemap.xml">
        Header set Content-Security-Policy "default-src 'self';"
    </Files>
</IfModule>
    